<div>
    <job-form [hidden]="!user" style="float: left"></job-form>
    <input type="text" #searchtext placeholder="Search by Location">
    <button type="button" (click)="search(searchtext.value)">Search</button>



    <h1>Job:</h1>

    <div>
        <select #sort (change)="changeSortOrder(sort.value)">
            <option value="1" selected>Ascending</option>
            <option value="-1">Descending</option>
        </select>
    </div>

    <ul>
        <li *ngFor="let job of jobs | async">
            <a [routerLink]="['/job', job._id]">{{job.name}}</a>
            <p>{{job.description}}</p>
            <p>{{job.location.name}}</p>
            <sebm-google-map
                    [latitude]="job.location.lat"
                    [longitude]="job.location.lng"
                    [zoom]="8"
                    (mapClick)="mapClicked($event)">
                <sebm-google-map-marker
                        *ngIf="job.location.lat && job.location.lng"
                        [latitude]="job.location.lat"
                        [longitude]="job.location.lng">
                </sebm-google-map-marker>
            </sebm-google-map>
            <button [hidden]="!isOwner(job)" (click)="removeJob(job)">X</button>
            <div>
                Who is working:
                Yes - {{job | rsvp: 'yes'}}
                No - {{job | rsvp: 'no'}}
            </div>
        </li>
    </ul>

    <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>