<form [formGroup]="addForm" (ngSubmit)="addJob()">
  <label>Name</label>
  <input type="text" formControlName="name">

  <label>Description</label>
  <input type="text" formControlName="description">

  <label>Location</label>
  <input type="text" formControlName="location">


    <sebm-google-map class="new-job-map"
                     [latitude]="newJobPosition.lat"
                     [longitude]="newJobPosition.lng"
                     [zoom]="8"
                     (mapClick)="mapClicked($event)">
      <sebm-google-map-marker
              [latitude]="newJobPosition.lat"
              [longitude]="newJobPosition.lng">
      </sebm-google-map-marker>
    </sebm-google-map>

  <button type="submit">Add</button>
</form> 